<Telerik.Blazor.Components.TelerikRootComponent>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Foo.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Foo.Shared.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Telerik.Blazor.Components.TelerikRootComponent>
